<ion-view title=""
          class="listContacts"
          ng-controller="ContactController as contacts">
  <ion-nav-buttons side="right">
    <button class="button icon ion-plus button-clear" ng-click="contact.edit()"></button>
  </ion-nav-buttons>

  <ion-nav-title>
    <label class="item item-input tx-header-search">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
  </ion-nav-title>


  <!--
    <ion-nav-bar>
      <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>

  </ion-nav-bar>
-->

  <ion-content padding="true">

    <md-list>
      <md-item ng-repeat="person in contacts.contacts" >
        <a class="a-item" target="_self"  href="#/app/contact/{{ person._id }}">
        <md-item-content>
          <div class="md-tile-left">
            <img ng-src="images/60.jpeg" class="face" alt="{{ person.name [0].value}}">
          </div>
          <div class="md-tile-content">
            <h3>This is the man</h3>
            <h4>{{ person.name[0].value}}</h4>
            <p>
              {{ person.notes}}
            </p>
          </div>
        </md-item-content>
        </a>
      </md-item>
    </md-list>

    <!--
    <ion-list>
      <ion-item ng-repeat="person in contacts.contacts"
                class="item item-icon-right"
                href="#/tab/contact/{{ person.id }}"
        >
        <span>{{ person.name }}</span>
      </ion-item>
    </ion-list>
    -->
  </ion-content>
</ion-view>

