<ion-view title=""
          class="listContacts"
          cache-view="false"
          ng-controller="ContactController as contacts">
  <ion-nav-buttons side="right">
    <button class="button icon ion-plus button-clear" ng-click="contacts.add()"></button>
  </ion-nav-buttons>

  <ion-nav-title>
    <label class="item item-input tx-header-search">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search"
             ng-model="contacts.search"
             placeholder="{{ 'Search' | translate }}">
    </label>
  </ion-nav-title>


  <!--
    <ion-nav-bar>
      <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>

  </ion-nav-bar>
-->

  <ion-content padding="true">
    <div class="list">
      <a class="item item-avatar" href="#/app/contact/{{ person._id }}"  ng-repeat="person in contacts.contacts">
        <img src="images/60.jpeg">
        <h2>{{ person.name[0].value}}</h2>
        <p>
          {{ person.notes}}
        </p>
      </a>
    </div>
  </ion-content>
</ion-view>

