<ion-view ng-controller="ContactDetailController as contact"
    cache-view="false">

  <ion-nav-buttons side="right">
    <button class="button icon ion-edit button-clear" ng-click="contact.edit()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    {{ contact.caption }}
  </ion-nav-title>

  <ion-content>
    <div class="item" ng-repeat="field in contact.viewFields">
      <tx-label caption="{{ field.label }}"></tx-label>
      <tx-content body="{{ field.value  }}"></tx-content>
    </div>
  </ion-content>
</ion-view>